@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Published Using Local Git Deploy</h1>
    <p>Sample app for deployment to Azure App Service</p>
</div>
